@site-width: 1000px;
@grey-for-text: #626262;
@blue-for-text: #00aeff;
@light-grey-bg: #f1f3f6;
@grey-bg: #e2e7ed;
@black-text: #31333e;
@footer-text: #cacfd6;
/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
  url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
  url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
  url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

///////====================HOME================================


//--------------------Style for header--------------
header{
  max-width: @site-width;
  margin: 0 auto;
  height: 120px;
  figure{
    float: left;
    width: 20%;
    height: 100%;
    line-height: 120px;
    img{
      float: left;
      position: relative;
      top: 50%;
      margin-top: -23.5px;
    }
    figcaption{
      float: left;
      height: inherit;
      width: 80%;
      text-align: center;
      font-size: 35px;
      font-family: PTSansBold;
      text-transform: uppercase;
      letter-spacing: -2px;
    }
  }
  nav{
    height: 100%;
    width: 80%;
    float: left;
    ul{
      display: block;
      position: relative;
      height: 50%;
      top: 25%;
      float: right;
      li{
        position: relative;
        height: 50%;
        top: 25%;
        display: inline-block;
        text-transform: uppercase;
        font-family: PTSansRegular;
        &:last-child a{
          border: none;
        }

        a{
          position: relative;
          top: 25%;
          color: @grey-for-text;
          text-decoration: none;
          border-right: 2px solid @grey-for-text;
          font-size: 15px;
          line-height: 15px;
          padding: 0 25px;
          display: block;
          transition: color ease 0.5s;
          &:hover{
            color: @blue-for-text;
            cursor: pointer;
          }
        }
      }
    }
    .triangle{
      border-color: #fff #fff @grey-bg #fff;
      border-style: solid;
      border-width: 0 12px 15px 12px;
      height: 0;
      width: 0;
      position: relative;
      left: 50px;
    }
    .sub-nav{
      width: 220px;
      height: 170px;
      position: relative;
      left: 165px;
      float: left;
      z-index: 1000000;
      li{
        top: auto;
        padding: 0 17px;
        height: 43px;
        display: block;
        float: none;
        background: @grey-bg;
        transition: color, background ease 1s;
        color: @black-text;
        &:hover{
          color: white;
          background: @blue-for-text;
        }
        a{
          text-transform: none;
          top:0;
          height: 100%;
          line-height: 43px;
          border: none;
          color: inherit;
          &:hover{
          color: inherit;
          }
        }
      }
    }
    form{
      display: block;
      float: right;
      background: @light-grey-bg;
      position: relative;
      top: 50%;
      padding: 8px;
      margin-top: -17.5px;
      margin-left: 23px;
      width: 130px;
      .input{
        background: transparent;
        border: none;
        color: @grey-for-text;
        font-family: PTSansItalic;
        font-size: 15px;
        width: 110px;
        box-sizing: border-box;
        display: block;
        float: left;
      }
      .submit{
        padding: 0;
        width: 20px;
        height: 24px;
        box-sizing: border-box;
        border: none;
        background-image: url("../img/home/search.png");
        display: block;
        float: left;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
//--------------------/Style for header--------------

//--------------------Style for slider--------------
#slider-section {
  position: relative;
  background: #31333e;
  height: 550px;
  .slider-content{
    margin: 0 auto;
    width: 1060px;
    position: relative;
    height: 550px;
    .slider-button {
      float: left;
      width: 30px;
      height: inherit;
      cursor: pointer;
    }
    .slider-left {
      background: url('../img/home/slider/left-arrov.png') no-repeat center;

      &:hover {

      }
    }
    .slider-right {
      background: url('../img/home/slider/right-arrov.png') no-repeat center;
      &:hover {

      }
    }
    #slider {
      margin: 0 auto;
      float: left;
      position: relative;
      overflow: hidden;
      width: @site-width;
      height: 600px;
      ul {
        float: left;
        position: absolute;
        list-style: none;
        top: 0;
        left: 0;
        width: 4000px;
        li {
          float: left;
          width: @site-width;
          height: 550px;
          position: relative;
          .slider-btn {
            position: relative;
            top: 51.5px;
            display: block;
            float: left;
            font-family: PTSansRegular;
            font-size: 22px;
            text-decoration: none;
            color: #ffffff;
            background: @blue-for-text;
            border-radius: 3px;
            padding: 20px 55px;
            margin-left: 50px;
            box-shadow: inset 1px 1px 3px @grey-bg, 0 0 transparent;
            transition: box-shadow 0.5s ease ;
            &:hover{
              box-shadow: inset 1px 1px 3px black, 0 0 transparent;
            }
          }
          .text {
            position: relative;
            top: 60px;
            display: block;
            float: left;
            font-family: PTSansRegular;
            font-size: 45px;
            color: #ffffff;
          }
          img{
            display: block;
            position: absolute;
            margin: auto;
            right: 0;
            bottom: -50px;
            left: 0;
            z-index: 10000;
          }
        }
      }
    }
  }
}
//--------------------/Style for slider--------------

//--------------------Style for branches--------------
#branches{
  min-height: 490px;
  max-width: @site-width;
  margin: 0 auto;
  .br-item{
    display: block;
    position: relative;
    float: left;
    width: 33.3%;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    figure{
      color: @grey-for-text;
      figcaption{
        padding-top: 50px;
        font-family: PTSansRegular;
        font-size: 30px;
        text-align: center;
      }
      img{
        margin: 0 auto;
        display: block;
        padding: 30px 0;
      }
      span{
        font-family: PTSansRegular;
        font-size: 15px;
        display: block;
        text-align: center;
        line-height: 1.5;
      }
      a{
        padding-top: 30px;
        text-align: center;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: PTSansBold;
        color: @blue-for-text;
        transition: color 0.5s ease;
        &:hover{
          color: @grey-for-text;
        }
      }
    }
  }
}
//--------------------/Style for branches--------------

//--------------------Style for portfolio--------------
#portfolio{
  position: relative;
  background: @grey-bg;
  height: 610px;
  .portfolio-content{
    max-width: @site-width;
    height: 100%;
    margin: 0 auto;
    h1{
      font-family: PTSansRegular;
      font-size: 30px;
      color: @grey-for-text;
      padding: 55px 0 32px 0;
    }
    ul{
      height: 400px;
      li{
        position: relative;
        width: 25%;
        height: 50%;
        display: block;
        float: left;
        background: @blue-for-text;
        .popup{
          position: absolute;
          display: block;
          width: 70px;
          height: 40px;
          background: #008bcc;
          bottom: 0;
          left: 0;
          img{
            display: block;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
        .link {
          position: absolute;
          display: block;
          width: 70px;
          height: 40px;
          background: #008bcc;
          bottom: 0;
          right: 0;
          &:hover{
            cursor: pointer;
          }
          img {
            display: block;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
        h1{
          font-family: PTSansBold;
          font-size: 24px;
          color: #ffffff;
          padding: 17px 0;
          text-align: center;
        }
        span{
          display: block;
          width: 100%;
          text-align: center;
          color: #ffffff;
          line-height: 1.5;
        }
        .picture{
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity 0.5s ease;
        }
        &:hover .picture{
          opacity: 0;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
//--------------------/Style for portfolio--------------

//--------------------Style for clients--------------
#clients{
  width: @site-width;
  margin: 0 auto;
  height: 240px;
  h1{
    font-family: PTSansRegular;
    font-size: 30px;
    color: @grey-for-text;
    padding: 36px 0 48px 0;
  }
  .car-button{
    height: 100%;
    display: block;
    width: 24px;
    float: left;
    box-sizing: border-box;
    &:hover{
      cursor: pointer;
    }
  }
  .car-left{
    background: url("../img/home/clients/left.png") center no-repeat;
  }
  .car-right{
    background: url("../img/home/clients/right.png") center no-repeat;
  }
  .carousel{
    height: 53px;
    width: 100%;
    .car-content{
      width: @site-width - 48;
      display: block;
      float: left;
      overflow: hidden;
      height: 100%;
      ul{
        width: 100%;
        overflow: hidden;
        height: 100%;
        li{
          box-sizing: border-box;
          width: 25%;
          display: block;
          float: left;
          height: 100%;
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
//--------------------/Style for clients--------------
footer{
  height: 210px;
  background: #31333e;
  font-family: PTSansRegular;
  color:@footer-text;
  .footer-content{
    width: @site-width;
    margin: 0 auto;
    overflow: hidden;
    .navigation{
      padding: 47px 0 0;
      width: 50%;
      float: left;
      li{
        display: block;
        float: left;
        a{
          font-size: 15px;
          display: block;
          box-sizing: border-box;
          padding: 0 17px;
          border-right: 2px solid @footer-text;
          color: @footer-text;
          text-decoration: none;
          transition: text-shadow 0.5s ease;
          &:hover{
             text-shadow: 1px 1px 2px @grey-bg, 0 0 1em @blue-for-text;
          }
        }
        &:first-child a{
          padding: 0 17px 0 0;
        }
      }
    }
    .contact{
      padding: 47px 0 0;
      display: block;
      float: left;
      width: 50%;
      li{
        float: right;
        display: block;
        padding: 0 0 0 11px;
      }
    }
    .rights{
      padding: 0;
      width: 100%;
      font-size: 15px;
    }
    span{
      padding: 40px 0 0;
      display: block;
      float: left;
      font-size: 12px;
    }
  }
}
.hidden{
  visibility: hidden;
}

///////====================/HOME================================

///////====================PORTFOLIO================================


//--------------------Style for See our works--------------
.portfolio-navigation{
  height: 110px;
  background: @grey-bg;
  width: 100%;
  .portfolio-navigation-content{
    width: @site-width;
    margin: 0 auto;
    height: 100%;
    font-family: PTSansRegular;
    color: @grey-for-text;
    span{
      line-height: 110px;
      float: left;
      font-size: 45px;
      padding-right: 30px;
    }
    ul{
      overflow: hidden;
      height: 100%;
      width: 50%;
      display: block;
      line-height: 115px;
      li{
        float: left;
        padding: 0 0 0 45px;
        a{
          transition: color 0.5s ease;
          font-size: 15px;
          text-decoration: none;
          color: @grey-for-text;
          &:hover{
            color:@blue-for-text;
          }
        }
      }
    }
  }
}
//--------------------/Style for See our works--------------

#portfolio-elements{
  ul{
    li{
      width: 100%;
      height: 620px;
      .element{
        width: @site-width;
        margin: 0 auto;
        span{
          width: 100%;
          display: block;
          font-family: PTSansRegular;
          font-size: 30px;
          color: #ffffff;
          padding: 65px 0 50px;
        }
        ul{
          li{
            height: auto;
            width: 50%;
            float: left;
            box-sizing: border-box;
            &:last-child{
              padding-left: 19px;
            }
            &:first-child{
              padding-right: 19px;
            }
            figure{
              h1{
                font-family: PTSansBold;
                font-size: 20px;
                padding: 25px 0;
              }
              figcaption{
                font-family: PTSansRegular;
                font-size: 15px;
              }
              img{
                width: 480px;
                height: 300px;
                display: block;
              }
            }
          }
        }
      }
    }
    .web{
      background: #908ef3;
    }
    .icons{
      background: #58d99c;
    }
    .illustrations{
      background: #f4776d;
    }
    .miscellaneous{
      background: #edca52;
    }
  }
}

///////====================/PORTFOLIO================================

///////====================CONTACT================================
.contact-us-content{
  width: @site-width;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  color: #2a2e39;
  .form{
    display: block;
    width: 50%;
    float: left;
    span{
      display: block;
      font-family: PTSansRegular;
      font-size: 15px;
      padding: 60px 0 30px;
      line-height: 1.5;
    }
    #feedback-form{
      display: block;
      input{
        display: block;
        height: 40px;
        width: 420px;
      }
      textarea{
        display: block;
        width: 420px;
        height: 190px;
      }
      span{
        padding: 30px 0 20px;
        display: block;
      }
      .submit{
        display: block;
        color: #ffffff;
        border: none;
        background: @blue-for-text;
        width: 220px;
        height: 60px;
        border-radius: 5px;
        font-family: PTSansRegular;
        font-size: 22px;
        margin: 40px 0 90px;
        box-shadow: 1px 1px 3px @grey-bg, 0 0 transparent;
        transition: box-shadow 0.5s ease ;
        &:hover{
          box-shadow: 1px 1px 3px black, 0 0 transparent;
          cursor: pointer;
        }
      }
    }
  }
  .map-section{
    display: block;
    width: 50%;
    float: left;
    padding: 125px 0 0 100px;
    box-sizing: border-box;
    span{
      display: block;
      font-family: PTSansRegular;
      font-size: 30px;
      color: @grey-for-text;
      padding-bottom: 40px;
    }
    .map-container{
      border: 20px solid @grey-bg;
      #map{
        width: 360px;
        height: 330px;
        border:  3px solid #ffffff;
        box-sizing: border-box;
      }
    }
    .triangle{
      border: 15px solid transparent;
      border-top: 15px solid @grey-bg;
      height: 0;
      width: 0;
      position: relative;
      left: 55px;
    }
    address{
      span{
        padding: 0;
        font-family:PTSansRegular;
        font-size: 15px;
      }
      .company{
        font-family: PTSansBold;
        font-size: 22px;
        color: #000000;
        position: relative;
        &:before{
          content: url("../img/contact/mark.png");
          position: absolute;
          left: -40px;
        }
      }
    }
    .tfe{
      padding: 25px 0 0;
      font-size: 15px;
      a{
        color: @blue-for-text;
        text-decoration: none;
      }
    }
  }
}
///////====================/CONTACT================================